.container{
  display: flex;  
  justify-content: space-between;
  gap: 50px;
}
.imgContainer{
  flex: 1;
  position: relative;
}
.img{
  object-fit: contain;
}
.formContainer{
  flex: 1;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.formContainer input, 
.formContainer textarea{
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--bgSoft);
  color: var(--text);
}
.formContainer input:focus, 
.formContainer textarea:focus{
  outline-color: rgb(0, 255, 183);
}
.button{
  padding: 15px;
  background-color: var(--btn);
  border: none;
  border-radius: 5px;
  color: var(--text);
  font-weight: bold;
  cursor: pointer;
}

@media (max-width : 768px) {
  .container{
    flex-direction: column;
  }
}